/* Stylesheet used for all sites  @author Rogier van der Linde <rogier.vanderlinde@kahosl.be>*/
html {
	font-size: 0.625em;  /* set 1 rem = 16px * 0.625 = 10px */
}

* {
	box-sizing: border-box; /* width and height include paddings and borders */
	margin: 0; /* wipe out browser differences */
	padding: 0; /* wipe out browser differences */ 
}

img {
	border: 0;
}

/*logo*/
#logo a {
    background-image: url(../JonaPhone/images/logo.psd);
    background-size: 90% 100%;
    background-repeat: no-repeat;
    display: block;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    height: 12rem;
    width: 100%;
}

.active {
    color: #ffd100;
}

/* body */
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 0.2rem;
    background-color: lightyellow;
}

footer p {
    width: 30%;
    font-size: 0.8rem;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
}

footer i {
    font-size: 1.2rem;
    padding-right: 0.5rem;
    color: black;
}
	

/*navbar*/
header {
    text-align: center;
    width: 100%;
}

nav {
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #ffd100;
}

/* uitklapmenu geïnspireerd op tutorial: https://www.youtube.com/watch?v=FEmysQARWFU */
#nav-toggle:checked ~ nav {
    transform: scale(1,1);
    transition: opacity 250ms ease-in-out 2500ms;
}

#nav-toggle:checked ~ nav a{
    opacity: 1;
}

#nav-toggle{
    display: none;
}

#nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 3%;
    display: flex;
    align-items: center;
}

#nav-toggle-label span, 
#nav-toggle-label span::before,
#nav-toggle-label span::after {
    display: block;
    background-color: black;
    height: 0.15rem;
    width: 2em;
    border-radius: 0.02rem;
    position: relative;
}

#nav-toggle-label span::before,
#nav-toggle-label span::after {
    content: "";
    position: absolute;
}

#nav-toggle-label span::before {
    bottom: 0.4rem;
}

#nav-toggle-label span::after {
    top: 0.4rem;
}

/*media queries*/
@media only screen and (min-width: 30rem) {
    footer {
        padding-top: 4rem;
        padding-bottom: 1rem;
    }

    footer p{
        font-size: 1.5rem;
    }

    footer i {
        font-size: 3.5rem;
        padding-right: 1rem;
    }
}

@media only screen and (min-width: 50rem) {
    #nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(8.5rem, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 2.5em;
        margin-bottom: 0;
    }

    nav a::after {
        content: "";
        display: block;
        height: 0.07rem;
        background: black;
        position: absolute;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::after {
        transform: scale(1, 1);
    }

    footer p{
        font-size: 1.5rem;
    }
}


